<div class="jumbotron">
    <h1>Base app for Lab 4</h1>
    <p class="lead">This project can be used as a base for your work on Lab 4.</p>
    <p><a href="http://petermcintyre.com/dps907/graded-work/lab4/" class="btn btn-primary btn-lg" target="_blank">Lab 4 specs</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Use the notes from October 5 and 8 to learn how to implement link relations.</p>
    </div>
</div>
